.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ipl-card {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.ipl-image {
  width: 5%;
  margin-right: 10px;
}

.ipl-heading {
  font-family: 'Bree serif';
  color: #ffffff;
  font-weight: 600;
}

.ipl-team-card {
  width: 80%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
  .ipl-card {
    width: 95%;
  }

  .ipl-image {
    width: 8%;
  }

  .ipl-heading {
    font-size: 30px;
  }

  .ipl-team-card {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .ipl-heading {
    font-size: 45px;
  }
}
